<div class="masonry-demo">
  <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true" class="masonry-ngx" >
    <div ngxMasonryItem class="masonry-item" *ngFor="let picture of dummyPictures">
        <button routerLink="/details/{{picture.id}}" mat-button>
            <img title="{{picture.nameBook}}" src="{{picture.imgURL}}">
        </button>
    </div>
  </ngx-masonry>
  <button mat-button *ngIf="limit < 100" (click)="showMoreImages()" color="primary">Show More</button>
  <h2 *ngIf="limit >= 100">No More Images</h2>
</div>